.wrap{
    margin: 0px auto;
    width: 1000px;
    height: 800px;
}
header #logo{            
    float: left;
    width: 200px;
    height: 150px;
    background-color: olivedrab;
}
header nav{            
    width: 800px;
    height: 150px;
    background-color: palegoldenrod;
    float: left;   
}

main aside{            
    width: 400px;
    height: 550px;
    background-color: skyblue;
    float: left;
}
main .mainContent{            
    width: 600px;
    height: 550px;
    background-color: navy;
    float: left;
}

footer{
    width: 100%;
    height: 150px;
    background-color: palevioletred;
    float: left;
}