*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: navy;
}

#container{
    width: 320px;
    margin: 50px auto;
}

.card{
    width: 300px;
    height: 500px;
    margin: 20px 10px;
    border: 1px solid #ccc;
    background-color: white;

    position: relative;
}

.words{
    position: absolute;
    left: 10px;
    top: 300px;
    padding: 10px;
    text-align: center;
}
@media screen and (min-width: 768px) and (max-width: 1719px) {
    #container{
        width: 570px;
    }
    .card{
        width: 550px;
        height: 250px;
    }
    
    .words{
        left: 310px;
        top: 50px;
        width: 200px;
    }
    
}
/* min-width: 768px, max-width: 1719px */