*{     
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
  }
  header{
    background-color: rgb(35, 133, 245);
    width: 1200px;
    height: 100px;
  }
  #logo{
    float: left;
  }
  header h1{
    color: white;
    display: inline-block;
    padding: 20px;
    margin: 0px;
    height: 80px;
  }
  
  header #topMenu>li{
    float: left;
    padding: 40px 20px 10px 80px;
    position: relative;
    top: 10px;
  }
  header #topMenu a{
    color: white;
    font-weight: bold;
  }
  header #topMenu .groupTour li{    
    padding-right: 10px;
  }
  #topMenu>li>ul>li{
    display: none;
  }
 
  #tabMenu input[type=radio]{
          display: none;
  }
  #tabMenu label{
      /* border: 1px solid black; */
      display: inline-block;
      padding: 20px;
      margin: 0px;
      font-weight: 600;
      color: #ccc;
  }
  #tabMenu label:hover{
      color: black;
  }
  /* 활성화된(radio버튼이 체크된 상태) 탭 메뉴 */
  #tabMenu input:checked + label{
      border: 1px solid #ccc;
      background-color: #eee;
      color: darkred;
  }
  .tabContent{
      display: none;
      border-top: 1px solid #ccc;
      padding: 0px 20px;
      line-height: 2;
  }
  #tab1:checked ~ #notice
  ,#tab2:checked ~ #gallery{
      display: block;
  }
  .tabContent
  main{
    width: 1200px;
    margin: 0px;
  }

  #rightSide{
    background-color: palegoldenrod;
    
    margin:0px;
    float: left;
  }
  #rightSide #links ul li a{
    float: left;
  }
  #rightSide #links ul li a p{
    color: rgb(59, 58, 58);
  }
  #contents{
       width: 500px;
  }
  #tabMenu{
      position: relative;
  }
  #gallery ul{
       padding: 0px;
  }
  #gallery ul li{
        display: inline;
        list-style: none;
  }
  ul.wrapper{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
        grid-template-areas: 
                "img1 img2 img3"
                "img4 img5 img6"
  }
  ul.wrapper li{
   margin: 0px;
   padding: 5px;
  }
  .tabContent{
   padding: 0px; 
  }
  #links ul li a{
    float: left;
    color: black;
    text-align: center;
  }
  #links >ul li a img{
    border-radius: 50%;
    padding: 0px 10px;
    justify-content: flex-end;
  }
  #links >ul li a p{
    margin: 5px 0px;
  }
  footer #bottomMenu{
    position: absolute;
    width: 100%;
    height: 50px;
  }
  footer #bottomMenu a{
    position: relative;
    right: 10px;
    color: rgb(54, 53, 53);
    border-left: 1px solid rgba(85, 84, 84, 0.5);
    padding: 0px 20px;
    float: left;
  }
  #company p{
    position: relative;
    top: 50px;
    left: -200px;
    padding: 10px;
    color: rgb(104, 103, 103);
  } 
  